//Landing 
.landing{
    height: 100vh;
    display: flex;
    background-color: white;
    color: black;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.btn{
    text-decoration: none;
    background-color: rgba(0, 179, 192, 0.377);
    color: white;
    border: black 3px solid;
    border-radius: 30%;
    padding: 10px 20px;
    font-size: 12px;
}  
.btn:hover{
        background-color: rgb(245, 220, 240);
        color: black;
    }
    
//Wrapper:
#about{
    height: 100vh;
    align-items: center;
}
.wrapper{
    width: 350px;
    height: 600px;
    background: #eaeaea;
    display: inline-block;
    margin-top: 20px;
    border-radius: 5px;
	box-shadow: 10px 10px 16px -6px rgba(0,0,0,.5);
}

.title-card{
        width: 100%;
        height: 50px;
        background: rgba(0,0,0,.8);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        display: inline-block;
        text-align: center;
}

span{
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    line-height: 50px;
    color: #eaeaea;
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
}

div.dot1 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #FB9090;
    line-height: 50px;
    border-radius: 50%;
    top: 15px;
    left: 10px;
}
    div.dot2 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #FBB6D0;
    line-height: 50px;
    border-radius: 50%;
    top: 15px;
    left: 30px;
}
    div.dot3 {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #00B8FC;
    line-height: 50px;
    border-radius: 50%;
    top: 15px;
    left: 50px;
}

