
//Colours
$main-text-color: black;
$main-bg-color: white;


//Fonts
$body-font: 'Space Grotesk', sans-serif;
$title-font: 'Black Han Sans', sans-serif;
$title-font-size: 10px;
$body-font-size: 11px;


// Card Settings
$max-width: 300px;
$max-height: 400px;
$gutters: 24px;